@import url(base.css);
.big_background{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #eeeeee;
}
.photo{
    width:3.55rem;
    height: 4.45rem;
    border: 0.05rem solid #b5b6b8;
    margin: 2.15rem auto 2.20rem;
}
.big_background p{
    display: block;
    height: 0.80rem;
    width: 100%;
    font-size: 0.30rem;
    text-align: center;
    line-height: 0.80rem;
    color: #b2b3b5;
    margin-bottom:0.60rem;
}
.big_background ul{
    display: flex;
    justify-content: space-between;
     align-content: space-between;
    width: 1.59rem;
    height: 0.68rem;
    margin:0 auto 0.10rem;
}
.big_background ul li{
    width: 0.20rem;
    height: 0.20rem;
    border-radius: 50%;
}
 .title1{
   background: #9ae1da;
}
 .title2{
     background: #50d6c8;
}
.title3{
    background: #1bcebb;
}
.button1{
     display: block;
     float: right;
     margin-top: 10px;
     margin-right:10px;
     color: #ff6700;
 }

